.password-button-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--profile-background);
  border-radius: 1rem;
  box-shadow: var(--profile-box-shadow);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-toggle {
  background:  var(--first-color);
  color: white;
  padding: 12px 20px;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.btn-toggle:hover {
  background: var(--color-red-button);
}

.form-container {
  margin-top: 20px;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
