.update-company {
  position: relative;
  background: white;
  padding: 2.5rem;
  border-radius: 1rem;
  width: 95%;
  max-width: 750px;
  max-height: 90vh;
  min-height: 500px;
  overflow-y: auto;
  box-shadow: 0 8px 20px rgba(35, 0, 77, 0.2);
  animation: animate-company 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
}

@keyframes animate-company {
    0% { transform: scale(1, 1); }
    50% { transform: scale(1.05, 1.05); }
    100% { transform: scale(1, 1); }
}

.update-company__title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #000;
  text-align: center;
}

.update-company__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 1rem;
}

.update-company__form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.update-company__form label {
    font-weight: 500;
    margin-bottom: 0.4rem;
    color: #333;
    font-size: 1rem;
    display: block;
}

.update-company__form input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  background: #fff;
  color: #818181;
  box-sizing: border-box;
}

.update-company__buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.update-company__buttons button {
  background: var(--first-color);
  color: #fff;
  font-weight: 600;
  padding: 0.85rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
  border: none;
  transition: background 0.3s;
}

.update-company__buttons button:hover {
  background: var(--color-red-button);
}

.update-company__buttons button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.update-company__localitation {
    background: var(--first-color);
    color: #fff;
    font-weight: 600;
    padding: 0.85rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s;
}

.update-company__localitation:hover {
    background: var(--color-red-button);
}

@media screen and (max-width: 768px) {
  .update-company {
      width: 100%;
      max-width: 95%;
      max-height: 95vh;
      padding: 1.5rem;
  }

  .update-company__title {
      font-size: 1.5rem;
  }
  .update-company__buttons button {
      padding: 0.75rem 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .update-company {
    max-width: 95%;
    max-height: 90vh;
  }
}