.forgot__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 900px;
  margin: auto;
  width: 100%;
}

.forgot__image {
  flex: 1;
  max-width: 400px;
  display: flex;
  justify-content: center;
}

.forgot__image img {
  width: 100%;
  max-width: 310px;
  margin-top: 1.5rem;
}

.forgot__form-wrapper {
  flex: 1;
  max-width: 400px;
  width: 100%;
  position: relative;
}

.forgot__form {
  background-color: var(--light-gray);
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 8px 20px rgba(42, 76, 255, 0.1);
  animation: forgot-fade 0.4s ease;
}

@keyframes forgot-fade {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.forgot__title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #000;
}

.forgot__input-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 0.5rem;
  background-color: #fff;
  margin-top: 0.75rem;
  border-radius: 0.5rem;
}

.forgot__icon {
  font-size: 1.2rem;
  color: var(--first-color);
}

.forgot__input {
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  color: #818181;
  flex: 1;
}

.forgot__input::placeholder {
  color: #818181;
}

.forgot__button {
  padding: 0.75rem;
  margin: 1.5rem 0;
  background-color: var(--first-color);
  color: #fff;
  font-weight: 600;
  border-radius: 0.5rem;
  width: 100%;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.forgot__button:hover {
  background-color: var(--color-red-button);
}

.forgot__switch-links {
  font-size: 0.9rem;
  font-weight: 600;
  color: #000;
}

.forgot__link {
  color: var(--first-color);
  cursor: pointer;
}

.forgot__link:hover {
  color: var(--color-red-button);
}

.forgot__error {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.forgot__message {
  color: green;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 576px) {
  .forgot__content {
    flex-direction: column;
  }

  .forgot__image img {
    max-width: 250px;
  }

  .forgot__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .forgot__input-group {
    padding: 0.5rem;
  }

  .forgot__icon {
    font-size: 1.2rem;
  }

  .forgot__input {
    font-size: 0.9rem;
  }

  .forgot__button {
    padding: 0.5rem;
    margin: 1rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .forgot__content {
    gap: 3rem;
  }

  .forgot__image {
    width: 400px;
  }

  .forgot__image img {
    width: 100%;
  }
}
