.reject-with-comment-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.reject-with-comment-modal-content {
  position: relative;
  background: white;
  padding: 24px;
  border-radius: 12px;
  text-align: center;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.modal-textarea {
  width: 100%;
  min-height: 100px;
  margin-top: 16px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: vertical;
  font-size: 1rem;
}

.reject-with-comment-modal-buttons {
  margin-top: 16px;
  display: flex;
  justify-content: space-around;
}

.reject-with-comment-modal-buttons button {
  background-color: var(--first-color);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.reject-with-comment-modal-buttons button:hover {
  background-color: var(--color-red-button);
}

.reject-with-comment-modal-buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
