@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --header-height: 3.5rem;
}

body {
  margin: var(--header-height) 0 0 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
  padding: 0 1rem;
  z-index: var(--z-fixed);
}

.header__container {
  display: flex;
  align-items: center;
  height: var(--header-height);
  justify-content: space-between;
}

.header__img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.header__logo {
  color: var(--title-color);
  font-weight: var(--font-medium);
  display: none;
}

.header__input {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--first-color-light);
}

.header__input::placeholder {
  font-family: var(--body-font);
  color: var(--text-color);
}

.header__icon, 
.header__toggle {
  font-size: 1.2rem;
}

.header__toggle {
  color: var(--title-color);
  cursor: pointer;
}


.active {
  color: var(--first-color);
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0 3rem 0 6rem;
  }
  .header__container {
    height: calc(var(--header-height) + .5rem);
  }
  .header__toggle {
    display: none;
  }
  .header__logo {
    display: block;
  }
  .header__img {
    width: 40px;
    height: 40px;
    order: 1;
  }
}

.right-aligned {
  display: flex; 
  margin-left: auto;
  gap: 1rem; 
  align-items: center;
}

.header__login__button {
  padding: 1rem 2rem;
  background-color: var(--first-color);
  color: #FFF;
  font-weight: 600;
  text-align: center;
  border-radius: .5rem;
  transition: .3s;
  width: auto;
  box-sizing: border-box; 
}

.header__login__button:hover {
  background-color: #000;
  color: #FFF;
}

.header__login__button {
  margin-right: 0.5rem; 
}

.header__login__button {
  margin-top: 0.5rem; 
}

@media (max-width: 1024px) {
  .header__login__button {
    padding: 0.8rem 1.8rem; 
    font-size: 14px; 
  }
}

@media (max-width: 768px) {
  .header__login__button {
    padding: 0.6rem 1.5rem; 
    font-size: 12px; 
    margin-bottom: 0.25rem; 
  }
}

@media (max-width: 480px) {
  .header__login__button {
    padding: 0.5rem 1rem; 
    font-size: 12px;
  }
}
