.create-educational-offer {
    position: relative;
    background: white;
    padding: 2.5rem;
    border-radius: 1rem;
    width: 95%;
    max-width: 750px; 
    max-height: 90vh; 
    min-height: 500px; 
    overflow-y: auto; 
    box-shadow: 0 8px 20px rgba(35, 0, 77, 0.2);
    animation: animate-news 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
}

@keyframes animate-news {
    0% { transform: scale(1, 1); }
    50% { transform: scale(1.05, 1.05); }
    100% { transform: scale(1, 1); }
}

.create-educational-offer__close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.create-educational-offer__close-button:hover {
    color: #000;
}

.create-educational-offer__title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 600;
    color: #000;
    text-align: center;
}

.create-educational-offer__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 1rem;
}

.create-educational-offer__form input,
.create-educational-offer__form textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    background: #fff;
    color: #818181;
}

.create-educational-offer__submit {
    background: var(--first-color);
    color: #fff;
    font-weight: 600;
    padding: 0.85rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s;
}

.create-educational-offer__submit:hover {
    background: var(--color-red-button);
}

.create-educational-offer__topics {
    margin-top: 1rem;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .create-educational-offer {
        width: 100%;
        max-width: 95%;
        max-height: 95vh;
        padding: 1.5rem;
    }

    .create-educational-offer__title {
        font-size: 1.5rem;
    }

    .create-educational-offer__submit {
        padding: 0.75rem;
    }
}

@media screen and (min-width: 1024px) {
    .create-educational-offer {
        max-width: 95%; 
        max-height: 90vh;
    }
}

.create-educational-offer__label {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 0.25rem;
    display: block;
    text-align: left;
}
