.register__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 900px;
  width: 100%;
  margin: auto;
}

.register__img {
  flex: 1;
  max-width: 400px;
  display: flex;
  justify-content: center;
}

.register__img img {
  width: 100%;
  max-width: 310px;
  margin-top: 1.5rem;
}

.register__forms {
  flex: 1;
  max-width: 400px;
  width: 100%;
  position: relative;
  height: auto;
}

.register__create {
  width: 100%;
  background-color: var(--light-gray);
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 8px 20px rgba(42, 76, 255, 0.1);
  animation-duration: 0.4s;
  animation-name: animate-register;
}

@keyframes animate-register {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.register__title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #000;
}

.register__box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem;
  background-color: #fff;
  margin-top: 0.75rem;
  border-radius: 0.5rem;
}

.register__icon {
  font-size: 1.25rem;
  color: var(--first-color);
}

.register__input {
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  color: #818181;
  width: 100%;
}

.register__input::placeholder {
  font-size: 1rem;
  color: #818181;
}

.register__button {
  padding: 0.75rem;
  margin: 1.5rem 0;
  background-color: var(--first-color);
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 0.5rem;
  transition: 0.3s;
  cursor: pointer; 
  border: none;
}

.register__button:hover {
  background-color: var(--color-red-button);
}

.register__account,
.register__signup {
  font-weight: 600;
  font-size: 0.9rem;
}

.register__account {
  color: #000;
}

.register__signup {
  color: var(--first-color);
  cursor: pointer;
}

.register__type-selector {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.register__type-button {
  padding: 0.5rem 1rem;
  background-color: var(--first-color);
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border:none;
}

.register__type-button:hover {
  background-color: var(--color-red-button);
}

.register__type-button.active {
  background-color: var(--color-red-button);
  color: #fff;
  border-color: var(--first-color-dark);
}

@media screen and (max-width: 576px) {
  .register__content {
    flex-direction: column;
  }

  .register__img img {
    max-width: 250px;
  }

  .register__create {
    padding: 1rem;
  }

  .register__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .register__box {
    padding: 0.5rem;
  }

  .register__icon {
    font-size: 1rem;
  }

  .register__input {
    font-size: 0.9rem;
  }

  .register__button {
    padding: 0.5rem;
    margin: 1rem 0;
  }

  .register__type-selector {
    flex-direction: column;
    align-items: center;
  }

  .register__type-button {
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .register__content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .register__img {
    width: 400px;
  }

  .register__img img {
    width: 100%;
  }
}
