.subtopics-list {
    margin-top: 0.5rem;
    max-height: 300px; /* Aumenta el espacio */
    border: 1px solid #ccc;
    padding: 1rem; /* Más espacio interno */
    border-radius: 0.5rem;
    background: #ffffff; /* Fondo blanco */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Mayor tamaño de los subtemas */
    gap: 12px; /* Más espacio entre los elementos */
}

/* Personaliza la apariencia del scrollbar */
.subtopics-list::-webkit-scrollbar {
    width: 8px;
}

.subtopics-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

.subtopics-list::-webkit-scrollbar-thumb:hover {
    background: #666;
}

.subtopic {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px; /* Más espacio interno */
    background: #eef2f7;
    border-radius: 6px;
    transition: background 0.2s ease-in-out;
    font-size: 14px; /* Ajusta el tamaño de fuente */
}

.subtopic:hover {
    background: #dae0e6;
}

.subtopic input[type="checkbox"] {
    transform: scale(1.3);
    cursor: pointer;
}
