.login__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; 
  gap: 2rem;
  max-width: 900px; 
  width: 100%;
  margin: auto;
}

.login__img {
  flex: 1;
  max-width: 400px; 
  display: flex;
  justify-content: center;
}

.login__img img {
  width: 100%;
  max-width: 310px;
  margin-top: 1.5rem;
}

.login__forms {
  flex: 1;
  max-width: 400px;
  width: 100%;
  position: relative;
  height: auto;
}

.login__registre {
  width: 100%;
  max-width: 400px; 
  background-color: rgb(224, 224, 250);
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 8px 20px rgba(35, 0, 77, 0.2);
  animation-duration: 0.4s;
  animation-name: animate-login;
}

@keyframes animate-login {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}

.login__title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #000;
}

.login__box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 0.5rem;
  background-color: #fff;
  margin-top: 0.75rem;
  border-radius: 0.5rem;
}

.login__icon {
  font-size: 1.2rem;
  color: #6923D0; 
}

.login__input {
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  color: #818181;
  flex: 1;
}

.login__input::placeholder {
  font-size: 1rem;
  color: #818181;
}

.login__forgot {
  display: block;
  width: max-content;
  margin-left: auto;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: black;
}

.login__button {
  padding: 0.75rem;
  margin: 1.5rem 0;
  background-color: #6923D0; 
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 0.5rem;
  transition: 0.3s;
  width: 100%;
  cursor: pointer;
  border: none;
}

.login__button:hover {
  background-color: #4a1a96; 
}

.login__account, .login__signin {
  font-weight: 600;
  font-size: 0.9rem;
}

.login__account {
  color: #000;
}

.login__signin {
  color: #6923D0;
  cursor: pointer;
}

.login__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.login__close-button:hover {
  color: #000;
}

@media screen and (max-width: 576px) {
  .login__content {
    flex-direction: column;
  }

  .login__img img {
    max-width: 250px;
  }

  .login__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .login__box {
    padding: 0.5rem;
  }

  .login__icon {
    font-size: 1.2rem;
  }

  .login__input {
    font-size: 0.9rem;
  }

  .login__button {
    padding: 0.5rem;
    margin: 1rem 0;
  }

}

@media screen and (min-width: 1024px) {

  .login__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  .login__img {
    width: 400px;
  }

  .login__img img {
    width: 100%;
  }

  .login__registre {
    bottom: -2rem;
  }
}
