.get-new {
    background: var(--get-background);
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--get-box-shadow);
    max-width: 100%;
    width: 100%;
    margin: 20px auto;
}

.get-new-title {
    text-align: left;
    margin-bottom: 5px;
    font-size: 1.8rem;
}

.get-new-meta-container {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: -10px;
}

.get-new-meta {
    font-size: 14px;
    color: gray;
    margin-bottom: 5px;
}

.get-new-content {
    display: block;
}

.get-new-image {
    float: left;
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 5px;
    margin: 0 15px 10px 0;
}

.get-new-description {
    text-align: justify;
}

@media (max-width: 768px) {
    .get-new-image {
        float: none;
        display: block;
        margin: 0 auto 15px auto;
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .get-new-description {
        width: 100%;
    }

    .get-new-meta-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        margin-top: 10px;
    }

    .get-new-title {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .get-new-title {
        font-size: 1.2rem;
    }

    .get-new-meta {
        font-size: 12px;
    }

    .get-new-description {
        font-size: 14px;
    }

    .get-new-link a {
        font-size: 14px;
        padding: 6px 12px;
    }
}

.get-new-link {
  font-weight: bold;
}

.get-new-link a {
    background-color: var(--first-color);
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    transition: background 0.2s ease;
    display: inline-block;
}

.get-new-link a:hover {
  background-color: var(--color-red-button);
  color: white;
}